
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:#e6e6e6;
    font-family: 'Dosis', sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    background-color: #2676f9;
}
section{
    margin:auto;
    width: 80%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url(assets/heartMinion.svg);
    background-repeat: no-repeat;
    background-position-x: 130%;
    background-position-y: 95%;
    background-size: 70%;
    
}
h4{
    font-size: 0.5em;
    /* text-align: center; */
}
h3{
    font-size: 3em;
}
.details{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.details div{
    
}
.time-container{
    width: 76px;
    text-align: center;
}
.year{
    display: flex;
    margin-bottom: 20px;
}
.monthnday{
    display: flex;
    margin :0px 20px 20px 0px;
}
.time{
    display: flex;

}
.logo{
    position: absolute;
    font-size: 1.5em;
    text-align: center;
    color: #f9a826;
    width: 40px;
    padding: 5px;
    margin: 0 18px;
    border-bottom: 3px solid #e6e6e6;
}
.days{

}
.message{
    border-left: 1px solid #e6e6e6;
    width: ;
    margin: 5px;
    overflow-wrap: normal;
    overflow-y: scroll;
    height: 100px;
    padding-left:10px ;
    display: none;
}
.message::-webkit-scrollbar{
    display: none;
}
.message-h3{
    width: 80%;
    font-size: 1.2em;
    color: #f9a826;
}
.message-p{
    width: 80%;
    font-size: 0.3em;
}
@media screen and ( max-width: 1025px) {
    section{
    background-position-y: 97% ;
    background-size: 75%;
    }
}
@media screen and ( max-width: 780px) {
    section{
        background-position-y: 50%;
        display: flex;
        flex-direction: column-reverse;
        }
        .days{
            text-align: end;
        }
        .logo{
            top: 0;
        }
    .message{
        height: 200PX;
    } 
}
@media screen and ( max-width: 560px) {
    section{
    background-position-y:50% ;
    }
}
/* @media screen and ( max-width: 380px) {
    section{
    background-position-y: 50%;
    display: flex;
    flex-direction: column-reverse;
    }
    .days{
        text-align: end;
    }
    .logo{
        top: 0;
    }
} */